@import url('base.css');


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Universal                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
a {
  text-decoration: none;
  list-style: none;
}

main {
  background-color: var(--very-light-gray);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  height: 60px;
}

header > div {
  line-height: 60px;
}

.logo-wrapper {
  img {
    height: 35px;
  }
}

.search-wrapper {
  input {
    background: var(--very-light-gray) url(../media/search.png) no-repeat 10px 10px;
    height: 35px;
    width: 200px;
    padding: 0 15px 0 35px;
    border-radius: 20px;
  }
}

nav ul li a {
  color: var(--black);
  font-weight: 600;
}

.user-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notification-wrapper, .message-wrapper {
  height: 40px;
  width: 40px;
  background-color: var(--very-light-gray);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.25s ease-in-out;

  i {
    font-size: 20px;
  }
}

.message-wrapper i {
  color: var(--accent-purple);
}

.notification-wrapper i {
  color: var(--accent-orange);
}

.message-wrapper:hover {
  background-color: rgba(141, 108, 171, 0.15);
  
}

.notification-wrapper:hover {
  background-color: rgba(230, 132, 35, 0.15);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  3 Column Layout                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Profile                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.profile {
  text-align: center;
  background-color: var(--white);
}

.user-info img {
  border-radius: 50%;
}

.user-insta {
  align-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */