@import url('base.css');

.column {
  width: 50%;
  height: calc(100svh);
  padding: 20px 40px 20px 20px;
}

.image {
  background: var(--black) url(../media/todd-trapani-Fgp8p6KD_Ks-unsplash.jpg) center bottom / cover no-repeat;
  max-width: 650px;
}

.image img {
  height: 35px;
  margin: 11px 10px 0 0;
}

.image h2 {
  color: var(--blue);
  font-size: 40px;
  font-weight: 500;
}

.login-box {
  position: relative;
}

.form {
  width: 100%;
}

form {
  max-width: 550px;
  width: 100%;
}

form h2 {
  color: var(--blue);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

input[type="text"] {
  background-color:rgba(0 118 181 / 0.1);
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  border-radius: var(--small-border-radius);
}

.forgot {
  margin-top: 10px;
  color: var(--medium-gray);
}

.forgot li {
  cursor: default;
  list-style: none;
}

.forgot a {
  color: var(--medium-gray);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.forgot a:hover {
  color: var(--blue);
}

input[type="button"] {
  margin-top: 20px;
  width: 48%;
}

.copy-right {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

/* delet */

.spacebetween {
  justify-content: space-between;
}